[submodule "Lotus58"]
	path = Lotus58
	url = https://github.com/TweetyDaBird/Lotus58
[submodule "Lily58"]
	path = Lily58
	url = https://github.com/kata0510/Lily58.git
	branch = master
[submodule "crkbd"]
	path = crkbd
	url = https://github.com/foostan/crkbd
[submodule "redox-keyboard"]
	path = redox-keyboard
	url = https://github.com/mattdibi/redox-keyboard
[submodule "custom-topre-guide"]
	path = custom-topre-guide
	url = https://github.com/tomsmalley/custom-topre-guide
[submodule "EC87"]
	path = EC87
	url = https://github.com/Cipulot/EC87
[submodule "CorneECRevival"]
	path = CorneECRevival
	url = https://github.com/Cipulot/CorneECRevival
[submodule "corneliuskbd"]
	path = corneliuskbd
	url = https://github.com/foostan/corneliuskbd
[submodule "fortitude60"]
	path = fortitude60
	url = https://github.com/Pekaso/fortitude60
[submodule "pica40"]
	path = pica40
	url = https://github.com/zzeneg/pica40
[submodule "Wubbo"]
	path = Wubbo
	url = https://github.com/cacheworks/Wubbo
[submodule "chocofi"]
	path = chocofi
	url = https://github.com/pashutk/chocofi
